@import "./utils/variables";
@import "./Layout/layout";
@import "./Composants/composants";
@import "./Base/Base";
@import"./themes/themes";
@import"./Pages/pages";

/**cards*/




img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}








/* Medium devices (tablets, less/equal than 1440px) */
@media screen and (max-width: 1439px) {
  body {
    width: 100%;
    box-sizing: border-box;
  }
  .explorer2 {
    flex-direction: row;
  }
}
