@import "./utils/variables";
@import "./Layout/layout";
@import "./Composants/composants";
@import "./Base/Base";
body {
  min-width: 320px;
  background-color: #f7f7f7;
}
a{ text-decoration: none;color: black;}
p {
  font-family: $font2;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.h2 {
  font-family: $font2;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.h2_gris {
  color: #353535;
}

.h2_blc {
  color: #ffffff;
}

.h2_blc--400 {
  font-weight: 400;
}

.h2_black {
  color: black;
}

h3 {
  font-family: $font2;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}

h4 {
  font-family: $font2;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
}

.explorer {
  display: flex;
  justify-content: center;
}

.section2 {
  background-color: #ffffff;
  height: 441px;
}

.explorer2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

/*icone*/
.fa-location-dot {
  color: #353535;
}

.fa-utensils {
  color: $iconeblc;
}

.fa-handshake-angle {
  color: $iconeblc;
}

.fa-mobile-screen-button {
  color: $icone1;
}

.fa-list {
  color: $icone1;
}

.fa-store {
  color: $icone1;
}

.fa-heart {
  color: black;
}

/**cards*/
.blockcard {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blockcard_child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 251px;
  justify-content: center;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.Shrik1 {
  font-family: $font1;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}





/* Medium devices (tablets, less/equal than 1440px) */
@media screen and (max-width: 1439px) {
  body {
    width: 100%;
    box-sizing: border-box;
  }
  .explorer2 {
    flex-direction: row;
  }
}
