body {
  min-width: 320px;
  background-color: #f7f7f7;
  margin: 0;
}
.header {
  display: flex;
  height: 63px;
}
header {
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: center;
  .bloclogo {
    background-color: #ffffff;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  nav {
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
  }
  .localisation {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #353535;
  margin-top: 40px;
  .feet {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    align-items: flex-start;
    .Shrik1 {
      font-family: $font1;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      color: #ffffff;
    }
  }
  .foot {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    .iconefooter {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
.footerrestau {
  margin-top: 1140px;
}
.footerrestau2 {
  margin-top: 1220px;
}
.footrestau {
  margin-top: 1300px;
}
.srestau {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  margin-top: -35px;
  .block-title {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    width: 100%;
    padding-left: 5px;

    .titlerestau {
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
      line-height: 41px;
      font-family: $font1;
    }
  }
}
.heartrestau {
  padding-top: 38px;
}
.restau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
  animation: entree 2s;
  .border {
    border-bottom: $tierce-color 3px solid;
    padding-bottom: 10px;
    width: 40px;
  }
}
@keyframes entree {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.restaup {
  animation: plats 2s 400ms;
}
@keyframes plats {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.restaud {
  animation: dessert 2s 800ms;
}
@keyframes dessert {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.subtitle-restau {
  font-family: $font2;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.images {
  border-radius: 0;
  object-fit: cover;
  z-index: 0;
  height: 240px;
}
//   /*breakpoint*/
@media screen and (min-width: 767.8px) {
  body {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  .fah {
    margin-bottom: 80px;
  }
  .heartr {
    top: -10px;
    right: 240px;
  }
  .images {
    height: 250px;
  }
  .section2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }
  .card {
    height: 300px;
  }
  .explorer {
    padding-top: 35px;
  }

  /*restaurants*/
  .srestau {
    width: 80%;
    margin-left: 100px;
    align-items: center;
    padding-top: 30px;
  }
  .srestau .block-title {
    display: flex;
    padding-top: 30px;
    width: 70%;
  }
  .srestau .block-title .titlerestau {
    margin-top: 10px;
    padding-right: 240px;
    width: 70%;
  }
  .heart {
    margin-top: 20px;
  }
  .fa-heart {
    margin-top: 85px;
  }
  .restau {
    width: 70%;
    padding-top: 40px;
  }
  .explorer3 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer {
    width: 100%;
    margin: 0;
  }
  .footerrestau {
    margin-top: 1325px;
  }
  .footerrestau2 {
    margin-top: 1415px;
  }
  .footrestau {
    margin-top: 1520px;
  }
  footer .feet {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 70px;
    padding-right: 50px;
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
/* Medium devices (tablets, less/equal than 1200px) */
@media screen and (min-width: 1199px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  header {
    height: 150px;
  }
  // .fa-arrow-left {
  //   margin-top: 15px;
  // }
  .heart1 {
    margin-right: 230px;
  }
  header .bloclogo {
    height: 96px;
  }
  .Num {
    width: 320px;
  }
  .N {
    width: 9%;
  }

  .h1d {
    font-family: $font2;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .explorer {
    padding-bottom: 30px;
  }
  .images {
    width: 100%;
    object-fit: cover;
    height: 440px;
  }
  .srestau {
    margin-left: 170px;
  }
  .srestau .block-title {
    width: 85%;
  }
  .srestau .block-title .titlerestau {
    width: 62%;
  }
  .restau {
    padding-top: 30px;
    width: 50%;
  }
  .titlerestau {
    padding-right: 300px;
  }
  .heartrestau {
    padding-right: 50px;
  }
  footer {
    width: 100%;
    height: 134px;
  }
  .footerrestau {
    margin-top: 1304px;
  }
  .footrestau {
    margin-top: 1498px;
  }
  .footerrestau2 {
    margin-top: 1395px;
  }
}
