.buton {
  @include linearGradient;
  @include box-shadow25;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  text-align: center;
  position: relative;
  transition-property: transform;
  transition: all 400ms;
  &:hover {
    transform: scale(1.15);
    @include box-shadow25;
    @include linearGradient;
    opacity: 70%;
  }
  a {
    text-decoration: none; color: #000000;
  }
}
.btn {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 15px;
  width: 90%;
  height: 72px;
  background: #f7f7f7;
  @include box-shadow15;
  border-radius: 20px;
  text-align: start;
  transition-property: transform;
  transition: all 300ms;
  position: relative;
  &:hover {
    transform: scale(1);
    @include box-shadow45;
    opacity: 70%;
    .fa-mobile-screen-button,.fa-list,.fa-store {
      color: $primary-color;
    }
}
}
.fa-handshake-angle,.fa-utensils{color:$iconeblc}
.fa-mobile-screen-button,.fa-list,.fa-store{ color:$icone1}
.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000000;
}
.fa-check {
  color: $tierce-color;
}
.heart {
  @include heart;
}
.heartr {
  @include heart;
  top: -52px;
  z-index: 1;
  right: 10px;
}
.heart-full {
  color: transparent;
  transition: all ease-in-out 1000ms;
  line-height: 1;
  &:hover {
    opacity: 1;
    @include lineargradientimg;
    line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  transform: scale(1.15);
  }
}
.sectionrestau {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-top: 25px;
  width: 100%;
  box-sizing: border-box; height: 1307px;
  margin: 0;
  .block-title {
  position: absolute;
  width: 341px;
  height: 27px;
  left: 17px;
  top: 0px;
  .titlerestau{ 
    font-size:28px; 
    font-style:italic; 
    font-weight:400; 
    line-height:41px;
    font-family:$font1;}
  .heartrestau{
    padding-left: 320px;
    padding-top: 10px;}
}
}
.images {
  border-radius: 0;
  object-fit: cover;
  z-index: 0;
}
.btnrestau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  height: 69px;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  @include box-shadowrestau;
  cursor: pointer;
  position: relative;
  @include ellipsis; 
  .check {
  position: absolute;
  top: 0;
  left: 100%;
  width: 59px;
  height: 69px;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.6s;
  transform: translate(0);
  .valid {
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
  }
}
.h1recipe {
  font-family:$font2;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding-left: 10px;
  margin: 0;
  @include ellipsis;
}
.sub€ {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 92%;
  @include ellipsis;
  .subtitlerecipe {
    position: relative;
    display: inline;
    height: 16px;
    font-family: $font2;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    @include ellipsis;
  }
  .€ {
    font-weight: 700;
    display: flex;
    height: 16px;
    font-family: $font2;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    transform: translate(0);
    transition: all 0.6s;
 }
 
}
  &:hover + .check{transform: translate(-100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);}    
  }
.btnrestau:hover .€{transform: translate(-220%);}


.explorer3{margin-top: 30px;}

