.h2{font-family:'roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

.h2_gris{color: #353535;
}
.h2_blc{color:#ffffff
}
.h2_blanc--400{font-weight: 400;
}
.h2_black{color: black;
}}