/**general*/
.primary-color {
  color: #9356dc;
}
.second-color {
  color: #ff79da;
}
.tierce-color {
  color: #99e2d0;
}

body {
  min-width: 320px;
  background-color: #f7f7f7;
  margin: 0;
}
/**header*/
header {
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: center;
}
header .bloclogo {
  background-color: #ffffff;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header nav {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
header .localisation {
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none;
  display: flex;
}

.h1 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.h1_style1 {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
}
p {
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.h2 {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.h2_gris {
  color: #353535;
}
.h2_blc {
  color: #ffffff;
}
.h2_blc--400 {
  font-weight: 400;
}
.h2--black {
  color: black;
}
h3 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}
h4 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
}
.h4 {
  color: white;
}
h5 {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  color: #008766;
}
.explorer {
  display: flex;
  justify-content: center;
}
.buton {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  text-align: center;
  position: relative;
  transition-property: transform;
  transition: all 500ms;
}
.buton:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  opacity: 70%;
}
.Num {
  display: flex;
  align-items: center;
  width: 100%;
}
.N {
  width: 24px;
  height: 24px;
  background: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  left: 10px;
  z-index: 1;
}
.section2 {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 441px;
  padding-left: 15px;
  padding-right: 15px;
}
.explorer2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}
.btn {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 15px;
  width: 90%;
  height: 72px;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: start;
  transition-property: transform;
  transition: all 300ms;
  position: relative;
}
.btn:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  opacity: 70%;
}
/*icone*/
.fa-location-dot {
  color: #353535;
}
.fa-utensils {
  color: #ffffff;
}
.fa-handshake-angle {
  color: #ffffff;
}
.fa-mobile-screen-button {
  color: #7e7e7e;
}

.fa-list {
  color: #7e7e7e;
}
.btn:hover .fa-mobile-screen-button {
  color: #9356dc;
}
.btn:hover .fa-list {
  color: #9356dc;
}
.btn:hover .fa-store {
  color: #9356dc;
}
.fa-store {
  color:#7e7e7e ;
}
.fa-heart {
  color: black;position: absolute;
  
}

.heart-empty {
  z-index: 0;line-height: 1;
}
.heart-full {
  opacity: 0;
  color: transparent;
  transition-property: transform;
  transition: ease-in-out 1000ms;
  z-index: 1;line-height: 1;
  
}

.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  background-clip: text;
  -webkit-background-clip: text;
  
  
}

/**homepage section*/
.section1 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

/**cards*/
.new {
  display: flex;
  position: absolute;
  width: 80px;
  height: 29px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-left: 67%;
  margin-top: 15px;
}
.blockcard {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
.blockcard_child {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 200px;
}
img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.heart {
  margin: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
}
.homecard {
  padding-bottom: 20px;
}
.new {
  width: 80px;
  height: 29px;
  justify-content: center;
  align-items: center;
}

/**footer**/
footer {
  box-sizing: border-box;
  background-color: #353535;
  box-sizing: border-box;
  margin-top: 40px;
}
footer .feet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
}
footer .foot {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
footer .foot .iconefooter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Shrik1 {
  font-family: "Shrikhand";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-width: 1023px){
  body{width: 100%;}
  .section1 {
    display: flex;
    
    
  }

  .section2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .explorer2{width: 60%;}
  .fulls{padding-right: 530px;}
 
}
/* Medium devices (tablets, less/equal than 1440px) */
@media screen and (min-width: 1439px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  header {
    height: 146px;
  }
  header .bloclogo {
    height: 96px;
  }
  .Num {
    width: 320px;
  }
  .btn {
    width: 270px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .fulls {
    padding-left: 20px;
    margin: 0;
  }
  .h1d {
    font-family: "roboto";
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .h1_style1 {
    padding-right: 910px;
  }

  .explorer {
    padding-bottom: 30px;
  }
  .explorer2 {
    display: flex;
    flex-direction: row;
    padding-right: 65px;
  }

  .blockcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
  }
  .blockcard_child {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .card {
    width: 490px;
  }
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65%;
    width: 490px;
    object-fit: cover;
  }
  .new {
    margin-left: 25%;
  }

  footer .feet {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 70px;
    padding-right: 50px;
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
