/**general*/
.primary-color {
  color: #9356dc;
}
.second-color {
  color: #ff79da;
}
.tierce-color {
  color: #99e2d0;
}

body {
  min-width: 320px;
  background-color: #f7f7f7;
  margin: 0;
}
/**header*/
header {
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: center;
}

header .bloclogo {
  background-color: #ffffff;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header nav {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
header .localisation {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  display: flex;
}

.h1 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.h1_style1 {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
}
p {
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #353535;
}

.h2 {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.h2_gris {
  color: #353535;
}
.h2_blc {
  color: #ffffff;
}
.h2_blc--400 {
  font-weight: 400;
}
.h2--black {
  color: black;
}
h3 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}
h4 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
}
.h4 {
  color: white;
}
h5 {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  color: #008766;
}
a {
  text-decoration: none;
  color: black;
}
.explorer {
  display: flex;
  justify-content: center;
}
.buton {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  text-align: center;
  position: relative;
  transition-property: transform;
  transition: all 500ms;
}
.buton:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  opacity: 70%;
}
.Num {
  display: flex;
  align-items: center;
  width: 100%;
}
.N {
  width: 24px;
  height: 24px;
  background: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  left: 10px;
  z-index: 1;
}
.section2 {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 441px;
  padding-left: 15px;
  padding-right: 15px;
}
.explorer2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}
.btn {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 15px;
  width: 90%;
  height: 72px;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: start;
  transition-property: transform;
  transition: all 300ms;
  position: relative;
}
.btn:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  opacity: 70%;
}
/*icone*/
.fa-location-dot {
  color: #353535;
}
.fa-utensils {
  color: #ffffff;
}
.fa-handshake-angle {
  color: #ffffff;
}
.fa-mobile-screen-button {
  color: #7e7e7e;
}

.fa-list {
  color: #7e7e7e;
}
.btn:hover .fa-mobile-screen-button {
  color: #9356dc;
}
.btn:hover .fa-list {
  color: #9356dc;
}
.btn:hover .fa-store {
  color: #9356dc;
}
.fa-store {
  color: #7e7e7e;
}
.srestau .block-title .heartrestau {
  padding-left: 300px;
  padding-top: 38px;
  position: relative;
}
.fa-heart {
  color: black;
  position: absolute; 
  /*border: 2px black solid;*/
}
.heart-empty {
 
  line-height: 1;
}

.heart-full {
 /* opacity: 0; Opacity ne sert pas vu qu'il y a un color:transparent qui suit*/
  color: transparent; /* Mewena nous ne pouvions pas voir le coeur car il a une couleur transparente*/
  transition: all  ease-in-out 1000ms ;
  line-height: 1;
  
}
.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  transform:scale(1.15)
}

/**homepage section*/
.section1 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

/**cards*/
.new {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  width: 80px;
  height: 29px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-left: 250px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.blockcard {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
.blockcard_child {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 200px;
}
img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.heart {
  margin: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  position: relative;
}

.homecard {
  padding-bottom: 20px;
}

/**footer**/
footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #353535;
  box-sizing: border-box;
  margin-top: 40px;
}
footer .feet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
}
footer .foot {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
footer .foot .iconefooter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Shrik1 {
  font-family: "Shrikhand";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

/**pages restaurants*/

.header {
  display: flex;
  height: 63px;
}
.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000000;
}

.srestau {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  margin-top: -35px;
}
.block-title {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  width: 100%;
  padding-left: 5px;
}
.titlerestau {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  font-family: "shrikhand";
}
.images {
  border-radius: 0;
  object-fit: cover;
  z-index: 0;
  
}



.restau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
  align-items: flex-start;
  width: 100%;
  padding-left: 5px;
}


.subtitle-restau {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.btnrestau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  height: 69px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
  position: relative;


}
.btnrestau:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.check {
  width: 59px;
  height: 69px;
  position: absolute;top: 0;left: 374px;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0;
  transition: all ease-in-out 600ms;
  transform: translate(-69px);
}
.check:hover {
  opacity: 1;
}

span {
  display: inline-block;
}
.h1recipe {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding-left: 10px;
  margin: 0;
}
.sub€ {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 92%;
}
.subtitlerecipe {
  display: flex;
  height: 16px;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.subtitles {
  display: flex;
  width: 100%;
  height: 16px;
  margin-bottom: 40px;
}
.€ {
  font-weight: 700;
  display: flex;
  height: 16px;
  font-family: "roboto";
  font-size: 15px;
  line-height: 18px;
}
.explorer3 {
  margin-top: 30px;
}
.border {
  border-bottom: #99e2d0 3px solid;
  padding-bottom: 10px;
  width: 40px;
}

.valid {
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.fa-check {
  color: #99e2d0;
}

.footerrestau {
  margin-top: 1200px;
}
.footrestau {
  margin-top: 1300px;
}
/* Medium devices (tablets, less/equal than 768px) */
@media screen and (min-width: 767.8px) {
  body {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  .images {
    height: 250px;
  }
  .section1 {
    display: flex;
  }

  .section2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .explorer2 {
    margin-left: 100px;
    width: 60%;
  }
  .explorer {
    padding-top: 35px;
  }
  .fulls {
    padding-right: 530px;
  }
  .new {
    margin-left: 75%;
  }
  /*restaurants*/
  .srestau {
    width: 80%;
    margin-left: 100px;
    align-items: center;
    padding-top: 30px;
  }

  .titlerestau {
    margin-top: 10px;
    padding-right: 80px;
  }
  .heartrestau {
    margin-top: 10px;
  }
  .restau {
    width: 70%;
    padding-top: 40px;
  }
  .explorer3 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer {
    width: 100%;
  }
  .footerrestau {
    margin-top: 1428px;
  }
  .footrestau {
    margin-top: 1520px;
  }
  footer .feet {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 70px;
    padding-right: 50px;
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
/* Medium devices (tablets, less/equal than 1200px) */
@media screen and (min-width: 1199px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  header {
    height: 146px;
  }
  .fa-arrow-left {
    margin-top: 15px;
  }
  header .bloclogo {
    height: 96px;
    padding-top: 30px;
  }
  .Num {
    width: 320px;
  }
  .N {
    width: 9%;
  }
  .btn {
    width: 270px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .new {
    margin-left: 390px;
  }
  .section2 {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .fulls {
    padding-left: 20px;
    margin: 0;
  }
  .h1d {
    font-family: "roboto";
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .h1_style1 {
    padding-right: 910px;
  }

  .explorer {
    padding-bottom: 30px;
  }
  .explorer2 {
    margin: 0;
    display: flex;
    width: 88%;
    padding-right: 70px;
    flex-direction: row;
    justify-content: center;
  }
  .btn {
    width: 322px;
  }

  .blockcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
  }
  .blockcard_child {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .card {
    width: 490px;
  }
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65%;
    width: 490px;
    object-fit: cover;
  }

  /*pages restau*/
  .images {
    width: 100%;
    object-fit: cover;
    padding-top: 30px;
    height: 440px;
  }

  .srestau {
    width: 70%;

    margin-left: 240px;
  }

  .restau {
    padding-top: 30px;
    width: 50%;
  }
  .titlerestau {
    padding-right: 240px;
  }
  .heartrestau {
    padding-right: 200px;
  }
  footer {
    width: 100%;
    margin-top: 0;
  }
  .footerrestau {
    margin-top: 1408px;
  }
  .footrestau {
    margin-top: 1498px;
  }
}
