/**general*/
.primary-color {
  color: #9356dc;
}
.second-color {
  color: #ff79da;
}
.tierce-color {
  color: #99e2d0;
}
body {
  min-width: 320px;
  background-color: #f7f7f7;
  margin: 0;
}
/**header*/
header {
  display: flex;
  flex-direction: column;
  height: 113px;
  justify-content: center;
}
header .bloclogo {
  background-color: #ffffff;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
header nav {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
header .localisation {
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none;
  display: flex;
}
.h1 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.h1_style1 {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
}
p {
  font-family: "roboto";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #353535;
}
.h2 {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.h2_gris {
  color: #353535;
}
.h2_blc {
  color: #ffffff;
}
.h2_blc--400 {
  font-weight: 400;
}
.h2--black {
  color: black;
}
h3 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
h4 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
}
.h4 {
  color: white;
}
h5 {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 16px;
  color: #008766;
}
a {
  text-decoration: none;
  color: black;
}
.explorer {
  display: flex;
  justify-content: center;
}
.buton {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  text-align: center;
  position: relative;
  transition-property: transform;
  transition: all 500ms;
}
.buton:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  opacity: 70%;
}
.explorer2 .Num  {
  display: flex;
  align-items: center;
  width: 100%;
}
.explorer2 .Num .N 
  {
  width: 24px;
  height: 24px;
  background: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  left: 10px;
  z-index: 1;
}
.section2 {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 441px;
  padding-left: 15px;
  padding-right: 15px;
}
.explorer2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}
.btn {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 15px;
  width: 90%;
  height: 72px;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: start;
  transition-property: transform;
  transition: all 300ms;
  position: relative;
}
.btn:hover {
  transform: scale(1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  opacity: 70%;
}
.btn:hover .fa-mobile-screen-button, .btn:hover .fa-list, .btn:hover .fa-store {
  color: #9356dc;
}
.fa-location-dot {
  color: #353535;
}
.fa-utensils,.fa-handshake-angle {
  color: #ffffff;
}
.fa-mobile-screen-button,.fa-list,.fa-store {
  color: #7e7e7e;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  margin-top: 10px;
}
.heart {
  display: flex;
  margin: 20px;
  width: 100%;
  height: 22px;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.heartr {
  display: flex;
  margin: 20px;
  width: 100%;
  height: 22px;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -52px;
  z-index: 1;
  right: 10px;
}
.fa-heart {
  color: black;
  position: absolute;
  line-height: 1;
  }
.heart-full {
  color: transparent; 
  transition: all ease-in-out 1000ms;
  line-height: 1;
}
.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  transform: scale(1.15);
}
/**homepage section*/
.section1 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}
/**cards*/
.new {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  width: 80px;
  height: 29px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  margin-left: 250px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.blockcard {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
.blockcard_child {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 200px;
}
img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}
/**footer**/
footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #353535;
  margin-top: 40px;
}
footer .feet {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
}
footer .foot {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
footer .foot .iconefooter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Shrik1 {
  font-family: "Shrikhand";
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
/**pages restaurants*/
.header {
  display: flex;
  height: 63px;
}
.fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000000;
}
.srestau {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  margin-top: -35px;
}
.srestau .block-title {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  width: 100%;
  padding-left: 5px;
}
.srestau .block-title .titlerestau {
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  font-family: "shrikhand";
}
.srestau .block-title .heartrestau {
  padding-top: 38px;
  } 
.images {
  border-radius: 0;
  object-fit: cover;
  z-index: 0;
}
.restau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
  animation: entree 2s;
}
@keyframes entree {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.restaup {
  animation: plats 2s 400ms;
}
@keyframes plats {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.restaud {
  animation: dessert 2s 800ms;
}
@keyframes dessert {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.subtitle-restau {
  font-family: "roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.btnrestau {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  height: 69px;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btnrestau .check {
  position: absolute;
  top: 0;
  left: 100%;
  width: 59px;
  height: 69px;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.6s;
  transform: translate(0);
}
.btnrestau:hover .check {
  transform: translate(-100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.45);
}
.btnrestau .check .valid {
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
.fa-check {
  color: #99e2d0;
}
span {
  display: inline-block;
  position: relative;
  text-overflow: ellipsis;
}
.btnrestau .h1recipe {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  padding-left: 10px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btnrestau .sub€ {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 92%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btnrestau .sub€ .subtitlerecipe {
  position: relative;
  display: inline;
  height: 16px;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btnrestau:hover .subtitlerecipe {
  transition: margin-right 0.5s ease;
  margin-right: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.subtitles {
  display: flex;
  width: 100%;
  height: 16px;
  margin-bottom: 40px;
}
.btnrestau .sub€ .€ {
  font-weight: 700;
  display: flex;
  height: 16px;
  font-family: "roboto";
  font-size: 15px;
  line-height: 18px;
  position: relative;
  transform: translate(0);
  transition: all 0.6s;
}
.btnrestau:hover .€{
  transform: translate(-220%);
}
.explorer3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.restau .border {
  border-bottom: #99e2d0 3px solid;
  padding-bottom: 10px;
  width: 40px;
}
.footerrestau{
  margin-top: 1140px;
}
.footerrestau2 {
  margin-top: 1220px;
}
.footrestau {
  margin-top: 1300px;
}
/*section loader*/
.sectionl {
    margin: 0; 
    position: absolute;
    padding-top: 500px;
    height: 3000px;
    width: 100%;
    line-height: 3000px;
    font-family: shrikhand;
    font-size: 30px;
    color: #9356dc;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    text-align: center;
    background-color: rgb(247, 240, 231, 1);
    z-index: -3;
    opacity: 0;
    animation: load 5s linear;
    animation-delay: 0.5s;
    } 
   @keyframes load {
    0% {
     z-index: 2;opacity: 1;
    }
   
    100% {
      opacity: 0;z-index: -3;
    }
  }
   .loader {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
  }
  .loader-rotate {
    width: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    border: 6px solid rgb(106, 90, 205, 0.8);
    border-top: #9356dc;
    border-bottom: #9356dc;
    position: relative;
  }
  .loader-rotate:after {
    content: "";
    border-radius: 100px;
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border: 6px solid transparent;
    border-top: 6px solid #99e2d0;
    border-bottom: 6px solid #99e2d0;
    animation: rotate 2s linear infinite;
    animation-delay: 0.5s;
  } 
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
100% {
      transform: rotate(360deg);
  } 
}
/* Medium devices (tablets, less/equal than 768px) */
@media screen and (min-width: 767.8px) {
   body {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  .heartr {
    top: -10px;
    right: 240px;
  }
  .images {
    height: 250px;
  }
  .section1 {
    display: flex;
  }
 .section2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }
  .card {
    height: 300px;
  }
  .explorer2 {
    margin-left: 200px;
    width: 60%;
  }
  .explorer {
    padding-top: 35px;
  }
  .fulls {
    padding-right: 530px;
  }
  .new {
    margin-left: 75%;
  }
  /*restaurants*/
  .srestau {
    width: 80%;
    margin-left: 100px;
    align-items: center;
    padding-top: 30px;
  }
  .srestau .block-title {
    display: flex;
    padding-top: 30px;
    width: 120%;
    }
.srestau .block-title .titlerestau  {
    margin-top: 10px;
    padding-right: 240px;width: 90%;
  }
  .homecard {
    margin-top: 20px;
  }
  .restau {
    width: 70%;
    padding-top: 40px;
  }
  .explorer3 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  footer {
    width: 100%;
  }
  .footerrestau {
    margin-top: 1310px;
  }
  .footerrestau2 {
    margin-top: 1400px;
  }
  .footrestau {
    margin-top: 1520px;
  }
  footer .feet {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 70px;
    padding-right: 50px;
  }
  footer .foot {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
/* Medium devices (tablets, less/equal than 1200px) */
@media screen and (min-width: 1199px) {
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  header {
    height: 146px;
  }
  .fa-arrow-left {
    margin-top: 15px;
  }
  header .bloclogo {
    height: 96px;
    padding-top: 30px;
  }
  .Num {
    width: 320px;
  }
  .N {
    width: 9%;
  }
  .btn {
    width: 270px;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .new {
    margin-left: 390px;
  }
  .section2 {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .fulls {
    padding-left: 20px;
    margin: 0;
  }
  .h1d {
    font-family: "roboto";
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .h1_style1 {
    padding-right: 910px;
  }
  .explorer {
    padding-bottom: 30px;
  }
  .explorer2 {
    display: flex;
    width: 78%;
    flex-direction: row;
    margin-left: 0px;
   }
  .btn {
    width: 250px;
  }
 .blockcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px;
  }
  .blockcard_child {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  .card {
    width: 490px;
  }
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65%;
    width: 490px;
    object-fit: cover;
  }
  .homecard {
    margin-top: 20px;
  }
  .images {
    width: 100%;
    object-fit: cover;
    padding-top: 30px;
    height: 440px;
  }
  .srestau {
   margin-left: 170px;
    }
  .srestau .block-title {
    width: 85%;
    }
    .srestau .block-title .titlerestau  {
      width: 62%;
     }

  .restau {
    padding-top: 30px;
    width: 50%;
  }
  .titlerestau {
    padding-right: 300px;
  }
  .heartrestau {
    padding-right: 50px;
  }
  footer {
    width: 100%;
    height: 114px;
 }
  .footerrestau {
    margin-top: 1290px;
  }
  .footrestau {
    margin-top: 1498px;
  }
  .footerrestau2 {
    margin-top: 1380px;
  }
.sectionl{font-size: 60px;}
}