.section1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
  }
  .blockcard {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
  }
  .blockcard_child {
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-sizing: border-box;
  }
  .card {
   @include card;
  }
  .new {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 80px;
    height: 29px;
    background:$tierce-color;
    @include box-shadow15;
    border-radius: 2px;
    margin-left: 250px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
  }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  margin-top: 10px;
}
.section2 {
    box-sizing: border-box;
    background-color: #ffffff;
    height: 441px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .explorer {
    display: flex;
    justify-content: center;
  }
  .explorer2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-top: 30px; 
    .Num {
    display: flex;
    align-items: center;
    width: 100%;
    .N {
    width: 24px;
    height: 24px;
    background: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    display: flex;
    position: relative;
    left: 10px;
    z-index: 1;
  }
  }
  }
 
  